body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    align-self: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Rufina', serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    width: 99%;
    color: #cecece;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 5px 0 5px 0;
}

nav li {
    margin-right: 20px;
    
}
nav a {
    color: black;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section h2{
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
}

section a {
    display: flex;
    width: 30%;
    background-color: white;
    text-decoration: none;
    color: black;
}

section article {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.clanak{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

article img{
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h3.naslov-clanka {
    font-size: 15px;
    margin: -15px 0 0 0;
    padding: 5px 10px 5px 10px;
    width: 85%;
    font-family: 'Cantata One', serif;
    text-align: center;
    background-color: white;
}
.nositelj-h3 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.tekst-ispod-clanka {
    margin: 0 0 5px 0;
    text-align: center;
    font-size: small;
    color: #999999;
}

footer {
    width: 100%;
    margin: 50px 0 auto;
    background-color: #F1F1F1;
}

footer p {
    text-align: center;
    font-size: small;
    color: #999999;
}
h2.naslov-clanka {
    width: 85%;
    font-family: 'Cantata One', serif;
    text-align: left;
    margin-top: 0;

}
p.putanja {
    align-self: flex-start;
    text-align: left;
    margin-bottom: 10px;
}
img.img-clanak {
    width: 70%;
    align-self: flex-start;
}
div.vrijeme-objave{
    border-color: #999999;
    border-width: 0.5px;
    border-style: solid;
    width: 100%;
}
p.vr-obj {
    margin:  3px;
}
p.kratki-opis{
    font-size: larger;
    font-family: 'Cantata One', serif;
    align-self: flex-start;
}
.tekst-clanka p {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    align-self: flex-start;
}
div.tekst-clanka{
    width: 100%;
}
form.form-news{
    width: 60%;
}
.form-news div{
    margin-top: 10px;
}
div.form-field{
    margin-top: 0;
}
div.form-checkbox{
    margin-top: 0;
}
.form-field-textual{
    width: 100%;
}